@charset "UTF-8";
/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 65, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************
甯哥敤鍔ㄧ敾鏁堟灉闆嗗悎
******************************/
@-moz-keyframes moveIn {
  to {
    opacity: 0;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes moveIn {
  to {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes moveIn {
  to {
    opacity: 0;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes WobbleInX {
  0% {
    -moz-transform: perspective(250px) rotateX(90deg);
    transform: perspective(250px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform: perspective(250px) rotateX(0deg);
    transform: perspective(250px) rotateX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes WobbleInX {
  0% {
    -webkit-transform: perspective(250px) rotateX(90deg);
    transform: perspective(250px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: perspective(250px) rotateX(0deg);
    transform: perspective(250px) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes WobbleInX {
  0% {
    -moz-transform: perspective(250px) rotateX(90deg);
    -ms-transform: perspective(250px) rotateX(90deg);
    -webkit-transform: perspective(250px) rotateX(90deg);
    transform: perspective(250px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform: perspective(250px) rotateX(0deg);
    -ms-transform: perspective(250px) rotateX(0deg);
    -webkit-transform: perspective(250px) rotateX(0deg);
    transform: perspective(250px) rotateX(0deg);
    opacity: 1;
  }
}
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 33, ../scss/breakpoints/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 34, ../scss/breakpoints/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 35, ../scss/breakpoints/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 36, ../scss/breakpoints/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 81, ../scss/breakpoints/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 85, ../scss/breakpoints/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 90, ../scss/breakpoints/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 95, ../scss/breakpoints/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/breakpoints/_768up.scss */
.wrap {
  width: 760px;
}

/*********************
HEADER STYLES
*********************/
/* line 34, ../scss/breakpoints/_768up.scss */
.header {
  border-top: 4px solid #6db33f;
}

/* line 38, ../scss/breakpoints/_768up.scss */
#logo {
  display: inline-block;
  float: left;
  margin: 0;
}
/* line 43, ../scss/breakpoints/_768up.scss */
#logo a {
  padding: 1.5em 0;
  display: block;
  text-decoration: none;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 54, ../scss/breakpoints/_768up.scss */
.nav {
  border: 0;
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 59, ../scss/breakpoints/_768up.scss */
.nav ul {
  margin-top: 0;
}
/* line 62, ../scss/breakpoints/_768up.scss */
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 66, ../scss/breakpoints/_768up.scss */
.nav li a {
  border-bottom: 0;
  padding: 1.5em 0.75em;
  outline: none;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 75, ../scss/breakpoints/_768up.scss */
.nav li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #6db33f;
}
/* line 80, ../scss/breakpoints/_768up.scss */
.nav li a:focus {
  color: #fff;
}
/* line 91, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 100, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  background: #34302d;
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 102, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
/* line 110, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li a:hover,
.nav li ul.children li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #6db33f;
}
/* line 115, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li a:focus,
.nav li ul.children li a:focus {
  color: #fff;
}
/* line 126, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 136, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
  top: 0;
  left: 100%;
}
/* line 151, ../scss/breakpoints/_768up.scss */
.nav li:hover > ul {
  top: auto;
  visibility: visible;
}
/* line 155, ../scss/breakpoints/_768up.scss */
.nav li:hover > ul > li {
  -moz-animation: WobbleInX 700ms both;
  -webkit-animation: WobbleInX 700ms both;
  animation: WobbleInX 700ms both;
}
/* line 166, ../scss/breakpoints/_768up.scss */
.nav li.current-menu-item a,
.nav li.current_page_item a,
.nav li.current-category-ancestor a,
.nav li.current_page_ancestor a {
  background-color: #6db33f;
}

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 177, ../scss/breakpoints/_768up.scss */
.sidebar {
  margin-top: 0;
}

/* line 185, ../scss/breakpoints/_768up.scss */
.widget {
  margin: 0.6em 0;
}
/* line 189, ../scss/breakpoints/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 197, ../scss/breakpoints/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 305, ../scss/breakpoints/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 12, ../scss/breakpoints/_1030up.scss */
.wrap {
  width: 85%;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
