/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 83%;
}

//sliders show 1030up
.swiper-container {
  .swiper-wrapper {
    a {
      .slide-title {
        font-size: 1.5em;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
      display: block;
  }
}