/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header {
  border-top: 4px solid $head-border-color;
}

#logo {
  display: inline-block;
  float: left;
  margin: 0;
  text-align: left;
  height: 4.5em;

  a {
    //padding: 1.5em 0;
    display: block;
    text-decoration: none;

    img{
      max-height: 4.5em;
      display: inline-block;
      vertical-align: middle;
    }

    .blog_title{
      padding: 0.6em;
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
      &.hide-768{
        display: none;
      }
      strong{
        display: block;
        font-size: 1.2em;
      }
      i{
        display: block;
        font-style: normal;
      }
    }
  }
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
  display: block;
  border: 0;
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  ul {
    margin-top: 0;
  }
  li {
    float: left;
    position: relative;

    a {
      border-bottom: 0;
      padding: 1.5em 0.75em;
      outline: none;
      @include transition(background .5s);
      /*
      you can use hover styles here even though this size
      has the possibility of being a mobile device.
      */
      &:hover {
        color: $white;
        text-decoration: none;
        background-color: $head-border-color;
      }
      &:focus {
        color: $white;
      }
    }

    &:first-child {
    }
    &:last-child {
    }

    /*
    plan your menus and drop-downs wisely.
    */
    ul.sub-menu,
    ul.children {
      margin-top: 0;
      border-top: 0;
      position: absolute;
      visibility: hidden;
      z-index: 8999;

      li {
        background: $head-color;
        a {
          padding:1em 0.75em;
          border-right: 0;
          display: block;
          width: 150px;
          border-bottom: 1px solid #ccc;
          background-color: transparent;

          &:hover {
            color: $white;
            text-decoration: none;
            background-color: $head-border-color;
          }
          &:focus {
            color: $white;
          }

          &:link {
          }
        }

        &:first-child {
        }

        &:last-child {

          a {
            border-bottom: 0;
          }
        }

        /*
        if you need to go deeper, go nuts
        just remember deeper menus suck
        for usability. k, bai.
        */
        ul {
          top: 0;
          left: 100%;
        }
      }

      /* highlight sub-menu current page */
      li.current-menu-item,
      li.current_page_item,
      li.current_page_ancestor {
        a {
        }
      }
    }

    /* showing sub-menus */
    &:hover > ul {
      top: auto;
      visibility: visible;
    }
    &:hover > ul > li {
      @include animation(WobbleInX 700ms both);
    }

  }
  /* end .menu ul li */

  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current-category-ancestor,
  li.current_page_ancestor,
  li.current-post-ancestor{
    a {
      background-color: $head-border-color;
    }
  }
  /* end current highlighters */

}

/* end .nav */

/*breadcrumbs*/
.breadcrumbs {
  display: block;
  width: 100%;
  padding: 0.6em;
  margin-bottom: $container-padding;
  background: #fff;
  color:$text-color;

  & a{
    color:$text-color;
  }

  .mdui-icon{
    display: inline-block;
    font-size: 1.2em;
  }
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
  margin-top: 0;
  display: block;
}

.widgettitle {

}

.widget {
  margin: $container-padding 0;

  ul {
    li {

      &:first-child {
      }
      &:last-child {
      }
      a {
      }
      /* deep nesting */

      ul {
        margin-top: 0.75em;
        padding-left: 1em;
      }
    }
  }
}

/* links widget */
.widget_links {
}

.widget_links ul {
}

.widget_links ul li {
}

.widget_links ul li a {
}

/* meta widget */
.widget_meta {
}

.widget_meta ul {
}

.widget_meta ul li {
}

.widget_meta ul li a {
}

/* pages widget */
.widget_pages {
}

.widget_pages ul {
}

.widget_pages ul li {
}

.widget_pages ul li a {
}

/* recent-posts widget */
.widget_recent_entries {
}

.widget_recent_entries ul {
}

.widget_recent_entries ul li {
}

.widget_recent_entries ul li a {
}

/* archives widget */
.widget_archive {
}

.widget_archive ul {
}

.widget_archive ul li {
}

.widget_archive ul li a {
}

.widget_archive select {
}

.widget_archive option {
}

/* tag-cloud widget */
.widget_links {
}

.widget_links li:after {
}

.widget_links li:before {
}

.widget_tag_cloud {
}

.widget_tag_cloud a {
}

.widget_tag_cloud a:after {
}

.widget_tag_cloud a:before {
}

/* calendar widget */
.widget_calendar {
}

#calendar_wrap {
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#wp-calendar tr td {
}

#wp-calendar caption {
}

#wp-calendar a {
}

#wp-calendar #today {
}

#wp-calendar #prev {
}

#wp-calendar #next {
}

#wp-calendar #next a {
}

#wp-calendar #prev a {
}

/* category widget */
.widget_categories {
}

.widget_categories ul {
}

.widget_categories ul li {
}

.widget_categories ul ul.children {
}

.widget_categories a {
}

.widget_categories select {
}

.widget_categories select#cat {
}

.widget_categories select.postform {
}

.widget_categories option {
}

.widget_categories .level-0 {
}

.widget_categories .level-1 {
}

.widget_categories .level-2 {
}

.widget_categories .level-3 {
}

/* recent-comments widget */
.recentcomments {
}

#recentcomments {
}

#recentcomments li {
}

#recentcomments li a {
}

.widget_recent_comments {
}

/* search widget */
#searchform {
}

.widget_search {
}

.screen-reader-text {
}

/* text widget */
.textwidget {
}

.widget_text {
}

.textwidget p {
}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
  ul {
    li {
      a {
        &:hover {
        }
      }
      /*
      be careful with the depth of your menus.
      it's very rare to have multi-depth menus in
      the footer.
      */
      ul {
      }
    }
  }
}

/* end .footer-links */


//comment
.comment-respond {
  margin:0;

  p{
    width: 49%;
    clear:none;

    &:nth-child(even){
      float: left;
    }
    &:nth-child(odd){
      float: right;
    }

    //fix Captcha by BestWebSoft bug
    &>:first-child{
      padding-bottom: 0;
    }
    &>:last-child{

    }

    &.logged-in-as,&.comment-notes,&.comment-form-comment,&.form-submit,&.yimik-comment-smiles{
      width: 100%;
    }
  }
}